@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/functionjs/votation/votation.js"></script>

<div class="card">
    <div class="card-body">
        <h4 class="box-title">Votaciòn </h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Cantidad de Usuarios</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtUsers">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Titulo</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtTitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Tipo</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="cboType">
                                <option value="0">Seleccione</option>
                                <option value="1">ReVoto</option>
                                <option value="2">Ultimo Voto</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Iniciar con Diapositiva</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="form-check-input form-control" id="chckDiapositiva" onclick="isDiapoActive();">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Nº Diapositiva</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="cboDiapo">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-6">
                            <input type="button" onclick="createVotation();" class="btn btn-success" value="Crear Votaciòn">
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- /.row -->
        <div class="card-body"></div>
    </div>
</div>
