
@{
    ViewBag.Title = "cVotants";
}
    <script src="~/Scripts/functionjs/votation/votants.js"></script>
<div class="card">
    <div class="card-body">
        <h4 class="box-title">Votantes </h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Votaciòn</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="cboVotation">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- /.row -->
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="box-title">Importar Votantes </h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1">CSV</label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control-file" id="txtfile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1"></label>
                        <div class="col-sm-6">
                            <input type="button" onclick="downloadTemplate('tmpvotantes.csv');" class="btn btn-success" value="Descargar Plantilla">
                            <input type="button" onclick="ImportCSV();" class="btn btn-success" value="Subir CSV">
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- /.row -->
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="box-title">Crear Votante</h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtnombre" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1">Apellidos</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtapellido" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1">DNI</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtdni" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1">Usuario</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtusuario" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1">Contraseña</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtpassword" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleFormControlFile1"></label>
                        <div class="col-sm-6">
                            <input type="button" onclick="registerVotantes();" class="btn btn-success" value="Registrar Votante">
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- /.row -->
    </div>
</div>