
@{
    Layout = "~/Views/Shared/_UserVoteLayout.cshtml";
    var UrlQuestion = Url.Action("getQuestions","ApiVote");
    var UrlsetVote = Url.Action("CreateVote","ApiVote");
   
}

<script>

    setInterval('getQuestions()', 2000);

    function getQuestions() {
        var abc = ["0", "a", "b", "c", "d", "e", "f", "g", "h", "i", "j"];
        
             
        $.get('/cv/ApiVote/getQuestions', function (data, status) {
            if (data[0] != null) {
                $("#control").css("display", "block");
                console.log(data);
                console.log(data.question);
                $("#Respuesta").empty();
                $("#Pregunta").html(data[0]);
                for (var i = 1; i < data.length; i++) {
                    console.log(data[i]);
                    $("#Respuesta").append("<h3 class='op'>" + abc[i] + ". " + data[i] + "<h3>");
                }
            } else {
                $("#Pregunta").html("Gracias por participar");
                $("#control").css("display", "none");
            }


        });
    }

    function setVote(value) {
        var d = new Date();
        var mes = d.getMonth() + 1;
        var fechavotacion = d.getDate() + "/" + mes + "/" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

        var v = {
            result: value,
            datevote: fechavotacion
        }

        var json = JSON.stringify(v);

        $.ajax({
            url: '/cv/ApiVote/CreateVote',
            type: 'post',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            data: json,
            success: function (data, textStatus, jQxhr) {

                $("#lblOK").html("OK");
                $("#lblData").html(value);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

</script>

<div id="number"></div>

<th colspan="3" scope="col"><label id="lblMarcaste"></label></th>

<style>
    #control {
        margin-top: 25px;
        height: 500px;
        width: 300px;
        border: 5px solid #948f8f;
        border-radius: 25px;
    }

    #logo {
        width: 100%;
        height: 50px;
    }

    #logocustomvote {
        margin-left: 15%;
        margin-right: 15%;
        height: 50px;
        width: 70%;
    }

        #logocustomvote img {
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 5%;
            width: 70%;
            height: 70%;
        }

    #result {
        width: 100%;
        width: 100%;
        height: 100px;
        margin-top: 15px;
    }

    #resultcontainer {
        width: 70%;
        height: 100%;
        margin-left: 15%;
        margin-right: 15%;
        border: 5px solid #948f8f;
        border-radius: 15px;
    }

    #resultOk {
        color: forestgreen;
        width: 100%;
        height: 35%;
    }

    #resultData {
        font-size: xx-large;
        text-align-last: right;
        width: 100%;
        height: 65%;
        color: green;
    }

    #botones {
        width: 100%;
        height: 55%;
        margin-top: 40px;
    }

    #botonescontainer {
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #firstL {
        height: 20%;
        width: 100%;
    }

    #fOk {
        float: left;
        height: 100%;
        width: 32%;
    }

    #fOk, #fC, #BC, #BOk, #BOkC, #EC, #EOk:hover {
        cursor: pointer;
    }

    #fOkC {
        float: left;
        height: 100%;
        width: 32%;
        margin-left: 5px;
    }

    #fC {
        float: right;
        height: 100%;
        width: 32%;
    }

    #fOk img {
        width: 100%;
        height: 100%;
    }

    #fOkC img {
        width: 100%;
        height: 100%;
    }

    #fC img {
        width: 100%;
        height: 100%;
    }

    #btnL {
        height: 20%;
        width: 100%;
    }

    #BOk {
        float: left;
        height: 100%;
        width: 32%;
    }

    #BOkC {
        float: left;
        height: 100%;
        width: 32%;
        margin-left: 5px;
    }

    #BC {
        float: right;
        height: 100%;
        width: 32%;
    }

    #endL {
        height: 20%;
        width: 100%;
    }

    #BOk img {
        width: 100%;
        height: 100%;
    }

    #BOkC img {
        width: 100%;
        height: 100%;
    }

    #BC img {
        width: 100%;
        height: 100%;
    }

    #EOk {
        float: left;
        height: 100%;
        width: 32%;
    }

    #EC {
        float: right;
        height: 100%;
        width: 32%;
    }

    #EOk img {
        width: 100%;
        height: 100%;
    }

    #EC img {
        width: 100%;
        height: 100%;
    }
</style>


<div class="card">
    <div class="card-header">
        <strong class="card-title">PREGUNTAS</strong>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div id="prResult"></div>
                    <h2 id="Pregunta"></h2>
                    <div id="Respuesta">

                    </div>
                </div>
                <div class="col-sm">
                    <div id="control">
                        <div id="logo">
                            <div id="logocustomvote">
                                <img src="~/File/resource/logo.jpg" />
                            </div>
                        </div>
                        <div id="result">
                            <div id="resultcontainer">
                                <div id="resultOk">
                                    <label id="lblOK"></label>
                                </div>
                                <div id="resultData">
                                    <label id="lblData"></label>
                                </div>
                            </div>
                        </div>
                        <div id="botones">
                            <div id="botonescontainer">
                                <div id="firstL">
                                    <div id="fOk" onclick="nextquestion();">
                                        <img src="~/File/resource/ok.png" />
                                    </div>
                                    <div id="fOkC">
                                    </div>
                                    <div id="fC">
                                        <img src="~/File/resource/cc.png" />
                                    </div>
                                </div>
                                <div id="btnL">
                                    <div id="BOk" onclick="setVote('1');">
                                        <img src="~/File/resource/1.png" />
                                    </div>
                                    <div id="BOkC" onclick="setVote('2');">
                                        <img src="~/File/resource/2.png" />
                                    </div>
                                    <div id="BC" onclick="setVote('3');">
                                        <img src="~/File/resource/3.png" />
                                    </div>
                                </div>
                                <div id="btnL">
                                    <div id="BOk" onclick="setVote('4');">
                                        <img src="~/File/resource/4.png" />
                                    </div>
                                    <div id="BOkC" onclick="setVote('5');">
                                        <img src="~/File/resource/5.png" />
                                    </div>
                                    <div id="BC" onclick="setVote('6');">
                                        <img src="~/File/resource/6.png" />
                                    </div>
                                </div>
                                <div id="btnL">

                                    <div id="BOk" onclick="setVote('7');">
                                        <img src="~/File/resource/7.png" />
                                    </div>
                                    <div id="BOkC" onclick="setVote('8');">
                                        <img src="~/File/resource/8.png" />
                                    </div>
                                    <div id="BC" onclick="setVote('9');">
                                        <img src="~/File/resource/9.png" />
                                    </div>
                                </div>
                                <div id="endL">
                                    <div id="EOk">
                                        <img src="~/File/resource/up.png" />
                                    </div>
                                    <div id="BOkC" onclick="setVote('0');">
                                        <img src="~/File/resource/0.png" />
                                    </div>
                                    <div id="EC">
                                        <img src="~/File/resource/down.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

